*{
    padding: 0;
    margin: 0;
}

body{
    margin: 0 auto;
    max-width: 1440px;
}

header{  
    color: white;
    background-color: rgb(104, 1, 1);                          
    padding: 10%;
    text-align: center;
    background: linear-gradient(rgba(35, 35, 35, 0.7), rgba(0, 0, 0, 0.7)), url(./images/donation0.jpg);
    background-size: 100%, 100%;
    backdrop-filter: blur(46px);
    background-position: center;
    background-repeat: no-repeat;    
}


.banner h1{
    font-size: clamp(1.5rem, 3rem, 4rem );
    font-weight: bold;
    color: white    ;
} 

.banner p{
    margin: 24px 0;
}
 button{
    background-color: #FF5959;
    border: none;
    padding: 16px 20px;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 600;
}





/* donate today */
ul{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    justify-content: center;

}
li{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:22px;
    width: 124px;
    height: 136px;
    font-size: 2.1rem;
    font-weight: bold ;
    background-color: azure;
    color: rgb(137, 137, 137);
    border-radius: 8px;
   
}

.donate-today{
    margin-top: 130px;
    text-align: center;
}
.donate-today h1{
    font-size: 2.8rem;
    font-weight: bold;
}
.donate-today p{
     margin: 20px 0 50px 0px;
}

.donate-today hr{
    border: 1px solid black;
    width: 50%;
    margin: 0 auto 20px ;
}



/* small device media control */
@media screen and (max-width: 576px) {

    header{
        background-size: 150%;
        
    }
    
}