*{
    padding: 0;
    margin: 0;
}

body{
    margin: 0 auto;
    max-width: 1440px;
}

header{  
    color: white;
    background-color: rgb(104, 1, 1);                          
    padding: 10%;
    text-align: center;
    background: linear-gradient(rgba(35, 35, 35, 0.7), rgba(0, 0, 0, 0.7)), url(./images/donation0.jpg);
    background-size: 100%, 100%;
    backdrop-filter: blur(46px);
    background-position: center;
    background-repeat: no-repeat;    
}


.banner h1{
    font-size: clamp(1.5rem, 3rem, 4rem );
    font-weight: bold;
    color: white    ;
} 

.banner p{
    margin: 24px 0;
}
.banner button{
    background-color: #FF5959;
    border: none;
    padding: 16px 20px;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 600;
}







/* small device media control */
@media screen and (max-width: 576px) {

    header{
        background-size: 150%;
        
    }
    
}